body {
       background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
    font-size: 16px;
    font-family: verdana;
    border: 1px solid black;

}


p { 
     border: 1px solid black; 
}

/* p {
      border: 1px solid black;
      padding-top: 20px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 0x;
} */

/* 
p {
      border: 1px solid black;
      margin-top: 0px;
      margin-right: 150px;
      margin-left: 80px;
      margin-bottom: 0px;
} */
 #p1{

    color: royalblue;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

 }
  
/* div{

    box-shadow: 10px 10px 5px grey;
} */


p.error{
    color: red;
    font-weight: bold;
}


a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}



/* Basic table border */
/* table, th, td {
  border: 1px solid black;
} */


/* Add spacing between cells */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}



/* Add spacing between cells */
/* table {
  border-spacing: 1px;
} */



/* Align text inside cells */
/* th, td {
  text-align: right;
} */


/* ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
} */

/* li {
      display: inline;
      margin-right: 10px;
} */


