body {
    font-family: "Segoe UI", Tahoma, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    direction: rtl;
    min-height: 100vh;
}

#main-header {
    background-color: steelblue;
    color: white;
    padding: 10px 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.question-box {
    background-color: white;
    border: 1px solid steelblue;
    border-radius: 12px;
    padding: 25px;
    margin: 35px auto;
    max-width: 850px;
    box-shadow: 0 10px 25px lightgray;
}

.question-box h2 {
    margin-top: 0;
    color: white;
    border-right: 5px solid steelblue;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: steelblue;
}

a {
    color: white;
}

a:hover {
    color: lightblue;
}

.list {
    line-height: 1.8;
}

.nav-link {
    text-decoration: none;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.highlight {
    color: blue;
}

@media (max-width: 600px) {

    section, nav a {
        margin: 20px;
        padding: 10px;
    }

    header h1 {
        font-size: 1.3em;
    }

    iframe, img {
        width: 100%;
        height: auto;
    }
}
